<div id="content-wrapper">
  <div class="container-fluid">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-table"></i>
        Registro de clientes</div>
      <div class="card-body">
        <div class="table-responsive-sm">
          <table id="example" class="table table-striped table-bordered" style="width:100%" datatable="" [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Razon Social</th>
                <th scope="col">Cuit</th>
                <th scope="col">Saldo</th>
                <th scope="col">Localidad</th>
                <th scope="col">Calle</th>
                <th scope="col">Lat</th>
                <th scope="col">Long</th>
              </tr>
            </thead>
            <tbody *ngIf="clientes?.length != 0">
              <tr *ngFor="let clienteDomicilio of clientesDomicilio; let i = index">
                <th scope="col">{{i+1}}</th>
                <td>{{clienteDomicilio.cliente_domicilio.razonSocial}}</td>
                <td>{{clienteDomicilio.cliente_domicilio.cuit}}</td>
                <td>{{clienteDomicilio.cliente_domicilio.saldo}}</td>
                <td>{{clienteDomicilio.localidad}}</td>
                <td>{{clienteDomicilio.calle}}</td>
                <td>{{clienteDomicilio.latitud}}</td>
                <td>{{clienteDomicilio.longitud}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>