<!-- Navbar-->
<app-navbar></app-navbar>

<div id="wrapper">
  <!-- Sidebar -->
  <ul class="sidebar navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>Administracion de registros:</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <h6 class="dropdown-header">Registros:</h6>
        <button class="dropdown-item btn btn-link" (click)="currentPage = 1" role="link">
          <i class="fas fa-table"></i> Clientes
        </button>
        <button class="dropdown-item btn btn-link" (click)="currentPage = 2" role="link">
          <i class="fas fa-table"></i> Articulos
        </button>
        <button class="dropdown-item btn btn-link" (click)="currentPage = 3" role="link">
          <i class="fas fa-table"></i> Rubros
        </button>
        <button class="dropdown-item btn btn-link" (click)="currentPage = 4" role="link">
          <i class="fas fa-table"></i> Pedidos
        </button>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item btn btn-link" (click)="currentPage = 5" role="link">Pagina Principal</button>
      </div>
    </li>

    <!-- Nuevo item 
      <li class="nav-item">
      <a class="nav-link" href="charts.html">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Charts</span></a>
    </li> -->
  </ul>

  <div id="content-wrapper">
    <div class="container-fluid">
      <div class="jumbotron" *ngIf="currentPage == 5">
        <h1 class="display-4">Bienvenido!</h1>
        <p class="lead">Esta es una pagina administrativa.
          Aqui puedes dar de alta a clientes, articulos, su rubro y pedidos de venta
          Tambien puedes editar/cambiar y eliminar los registros que desees.
        </p>
      </div>
      <app-clientes *ngIf="currentPage == 1"></app-clientes>
      <app-articulos *ngIf="currentPage == 2"></app-articulos>
    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>UTN - Facultad Regional Mendoza </span>
        </div>
      </div>
    </footer>

  </div>
  <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>